.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-table,
  .print-table * {
    visibility: visible !important;
  }
}
@media screen {
  .print-table {
    display: none;
  }
}
